@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #111;
    margin: 0;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;

}
h1 {
    font-size: 56px;
    font-weight: 800;
    margin: 0px 0 4px 0;
}

h2 {
    margin-bottom: 24px;
}

h2.white {
    color: #fff;
}
h3 {   
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 80px;

}
h3.h3c {
    color: rgb(219, 219, 219);
    margin-bottom: 12px;

}
h4 {
    font-size: 20px;
}

h4.h4c {
    font-size: 48px;
    color: #fff;
    line-height: 1.4;
    text-align: left;
}
h4.h4a {
    font-size: 48px;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
    line-height: 1.4;
}
h4.h4c:hover {
    color: #11c1a9;
    font-weight: 900;
}

h5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #e53c49;
    margin-bottom: 18px;
}

h6 {
    font-size: 48px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 24px;
    letter-spacing: -0.2px;
}

span.empty-40px {
    line-height: 40px;
}


span.empty-48px {
    line-height: 48px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999;
    background: #fff;
    top: 0;
}

footer {
  position: relative;
  width: 100%;
  z-index: -11;
}

footer .footer-brand {
display: inline-block;
  width: 100%;
  background-color: #111;
  padding: 64px 0;
}

footer .footer-brand img {
  height: 30px;
}


footer h3 {
margin: 0 0 24px 0;
font-size: 14px;
color: #fff;
}

footer h2 {
font-size: 24px;
margin: 0 0 12px 0;
font-weight: 800;
color: #fff;
}

footer h4 {
font-size: 15px;
color: rgb(177, 177, 177);
}

footer span {
font-size: 12px;
margin-right: 4px;
color: rgb(177, 177, 177);
}
footer .footer-info {
margin-top: 16px;
}
.main-index {
  padding: 48px 0;
}
.main-index h2 {
  font-size: 24px;
  margin-bottom: 24px;
}
.main-index h5 {
  color: #111;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
  text-align: center;
}
.main-index h6 {
  font-size: 36px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 12px;
}
.goto-m {
  display: inline-block;
  width: 100%;
}


.goto-m ul li {
  float: left;
  width: 12.5%;
  cursor: pointer;
  margin-right: 0;
  background: #fbfbfd;
  border-radius: 0px;
  padding: 32px 0;
  text-align: center;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  color: #111;
}
.goto-m ul li:hover {
  background-color: #fff;
  border: 2px solid #E53C49;
  color: #fff;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.15);
  box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.15);
}
.goto-m ul li:last-child {
  margin-right: 0;
}
.goto-m li img {
  width: 80%;
  text-align: center;
}
.goto-m li p {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}
.goto-v ul {
  display: inline-block;
}
.goto-v ul li {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.goto-v ul li img {
  width: 100%;
}
.goto-v ul li:last-child {
  margin-right: 0;
}

.goto-v ul li p.sh1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 0;
}
.goto-v ul li p.sh2 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  color: #949494;
}

.goto-s {
  display: inline-block;
}
.goto-s ul li {
  float: left;
  width: 24%;
  margin-right: 1.33%;
  text-align: center;
}

.goto-s ul li:nth-of-type(4n){
  margin-right: 0;
}
.goto-s ul li:nth-of-type(n+5) {
  margin-top: 24px;
}
.goto-s ul li img {
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

.goto-s ul li p.sh1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 0;
}

.sh1 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
  margin-bottom: 0;
}
.sh2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  color: #949494;
}
.goto-s ul li p.sh2 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
  color: #949494;
}

.ds-v-left {
  float: left;
  width:50%;
  padding: 0 80px 0 0;
}
.ds-v-left h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}
.ds-v-left h4{
  font-size: 18px;
  font-weight: 400;
  color: #777;
  margin-bottom: 48px;
}
.ds-v-left span {
  background-color: #0066ff;
  padding: 12px 24px;
  border-radius: 24px;
  margin-right: 16px;
  color: #fff;
}
.ds-v-right {
  float:right;
  width: 50%;
}

.ds-v-right img {
  max-width: 100%;
}
.width100 {
  width: 100%;
  display: block;

}
.width1176 {
  max-width: 1176px;
  display: block !important;
  margin: 0 auto;
}
.width1176.p642 {
  padding: 32px 0 64px 0;
  display: block;
  position: relative;
}
.width1176.p643 {
  padding: 32px 0 64px 0;
  display: block;
  position: relative;
}
.width1176.p64 {
  padding: 32px 0 64px 0;
  display: block;
  position: relative;
}

.width1176.p96 {
  padding: 64px 0 32px 0;
  display: block;
  position: relative;
}

.width1176.p64 img, .width1176.p96 img {
  width: 100%;
}
.p64btn {
  width: 120px;
  color: #fff;
  text-align: center;
  background-color: #E53C49;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s;
}
.p64btn:hover {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 26px 20px -16px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 26px 20px -16px rgba(0,0,0,0.43);
  box-shadow: 0px 26px 20px -16px rgba(0,0,0,0.43);
}
.width100 {
  width: 100%;
  display: block;
}
.width100.video {
  padding: 64px 0;
  background-color: #fbfbfd;
  display: inline-block;
}
.main-view {
  background-image: url(../img/mainview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  height: 420px;
  text-align: center;
}


.mt-12px {
  margin-top: 0px !important;
}

.nav-active {
  color: #051a92 !important;
  font-weight: 800 !important;
  font-size: 18px !important;
}

.nav-active:hover {
  border: 0;
}
.ds-none {
    display: none;
    transition: all 1s;
}

.white {
    color: #fff;
}

.black {
    color: #111;
}

.ds-call-btn {
    float: right;
    padding-top: 16px;
}

.ds-call-btn button {
    padding: 14px 21px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #111 !important;
}

.ds-top-nav {
    display: none;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #fff;
   transition: all 1s;
}

.ds-top-sub {
    float: right;
    margin-right: 10px;
}

.ds-top.sub ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ds-top-sub li {
    float: left;
    display: inline-block;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    height: 40px;
    padding: 9px 16px;
    transition: all 0.2s;
}


.ds-top-sub li:first-child {
    border-right: 0;
}

.ds-top-sub li a {
    color: rgb(145, 145, 145);
}


.ds-top-sub li a:hover {
    color: #111;

}
.ds-container-z {
    width: 1176px;
    margin: 0 auto;

}

.ds-container-0 {
    width: 1176px;
    margin: 0 auto;
    overflow: hidden;
}

.ds-container-1 {
    background: #111;
    margin: 0 auto;
}

.ds-menu {
    float: right;
    margin: 0;
}

.ds-menu a {
    position: relative;
    display: inline-block;
    margin: 4px 10px 6px 10px;
    padding: 14px 6px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
}

.ds-slider {
    position: relative;
    width: 100%;
    padding-top: 70px;
}

.ds-cell-box {
    padding-left: 0px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ds-cell-box h1 {
  font-size: 42px;
  font-weight: 900;
  margin-left: -4px;
}

.ds-cell-box h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 16px;
  color: #656565;
}

.ds-cell-box .b-white {
  display: inline-block;
  background: rgb(255, 255, 255);
  color: #111;
  border-radius: 8px;
  border: 0;
  padding: 16px 36px 18px 36px;
  font-size: 17px;
  margin-top: 42px;
  transition: all 0.5s;
  font-weight: 700;
}

.ds-cell-box .b-white:hover {
  background: #fff;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.43);
    box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.43);
}

.ds-cell-box .b-black {
  display: inline-block;
  background: #111;
  color: #fff;
  border-radius: 8px;
  border: 0;
  padding: 16px 36px 18px 36px;
  font-size: 17px;
  margin-top: 42px;
  transition: all 0.5s;
  font-weight: 7s00;
}


.ds-cell-box .b-black:hover {
  background: #000;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.43);
    box-shadow: 0px 26px 27px -16px rgba(0,0,0,0.43);
}


.ds-modal-header {
    padding: 12px 24px;
    border-bottom: 1px solid #ebebeb;
}

.ds-modal-header span {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.ds-modal-body {
    padding: 24px;
}

.ds-modal-content {
    min-width: 300px;
    margin-bottom: 16px;
}

.ds-modal-content:last-child {
    margin-bottom: 0;
}

.ds-modal-body p {
    display: inline-block;
    width: 100%;
}

.ds-modal-body p.modal-body-1 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(92, 92, 92);
    margin-bottom: 12px;
}

.ds-modal-body p.modal-body-2 {
    background-color: #f1f1f1;
    padding: 16px 24px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.2s;
}

.ds-modal-body p.modal-body-2 a {
    color: #111;
}

.ds-modal-body p.modal-body-2:hover {
    background-color: #e2e2e2;
    transition: all 0.2s;
}

.ds-modal-body p.modal-body-3 {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.2s;
}

.ds-modal-body p.modal-body-3:hover {
    background-color: #f1f1f1;
    transition: all 0.2s;
}

.ds-modal-body p.modal-body-3 img {
    height: 24px;
}

.ds-modal-body img.location {
    height: 400px;
}

.ds-modal-body p.modal-body-4 {
    font-size: 17px;
    font-weight: 600;
}


.ds-tab {
    position: relative;
    width: 100%;
    padding: 48px 0;
}

.ds-main-nav {
    z-index: 9;
    height: 81px;
}

.ds-nav-right {
    float: right;
}

.ds-sub-nav {
    position: relative;
    height: 52px;
    background: #fff;
}

/* #Navigation Styles
�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�볛�� */
/* 
nav {
    position: fixed;
    left: 0;
    right: 0;
    z-index:999;
}

nav::after { 
    display: inline-block;
    left: 0;
    right: 0;
    content: "";
    position: fixed;
    z-index: -1;
    pointer-events: none;
    background: #ffffff;
    top: 0;
    height: 80px;
    border-bottom: 1px solid #ededed;
}

nav ul {
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    height: 80px;
}

nav ul li {
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 1px 32px 6px 32px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

nav ul li.main-nav.primary.active {
    display: block;
}

nav ul li img {
    height: 20px;
    margin: 0 8px;
}

nav ul li:first-child {
    margin-left: 0;
    padding-left: 0;

}

nav ul li:first-child a {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

nav ul li:first-child:hover {
    background: none;
}

nav ul li:nth-child(4) {
    margin-left: auto;
    border-right: 0;
}

nav ul li:nth-child(n+4) {
    font-size: 15px;
    padding: 0;
}

nav ul li.sub-nav:nth-child(4) {
    margin-left: 0;
}
nav ul li:nth-child(n+4):hover {
    background: none;
}

nav ul li:nth-child(n+4) a {
    padding: 29px 12px;
}

nav ul li:nth-child(n+4) a:hover {
    color: #0d54b8;
    padding: 27px 12px;
}

nav ul li:nth-child(7) {
    margin-left: 16px;
} 

nav ul li:nth-child(8) {
    padding:0;
    margin-left: 8px;
} 


nav ul li:last-child img {
    height: 16px;
    margin: 2px 0 0 0;
}

nav ul li.main-nav:hover {
    background: #0c69ec;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

nav ul li.main-nav.view:hover {
    background: #0d54b8;
}

nav ul li:hover ul {
    display: -webkit-box;
    display: flex;
}

nav a {
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 29px 24px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

nav li li.sub-nav {
    padding: 0;
}

nav li li.sub-nav:first-child {
    margin-right: 0;
}

nav li li.sub-nav a {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
    padding: 11px 14px 15px 14px;
}

nav li li.sub-nav a:hover {
    color: #0d54b8;
    padding: 12px 14px 15px 14px;
}

nav ul ul {
    position: fixed;
    left: 0;
    right: 0;
    opacity: 1;
    top: 79px;
    height: 60px;
    display: none;
    max-width: calc(1176px + 32px);
    z-index: 9;
}

nav ul ul li a {
    height: 58px;
}

nav ul ul li:first-child {
    background: none;
}

nav ul ul li:nth-of-type(n+4) {
    margin-left: initial;
} */

.view {
    background: #0d54b8;
    color: #fff;
}

.view-change {
    background: #0d54b8;
    color: #fff;
}
.sub-active {
    display: flex !important;
}
.primary-nav {
    background: #fff;
    z-index: 5;
}

.secondary-menu {
    background: #fff;
    z-index: 4;
}



.sub-nav-space {
    display: block;
    height: 60px;
    border-bottom: 1px solid #ededed;
}

#scroll_right {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 0px;
  background: #fff;
  border-left: 1px solid #ccc;
  height: 100%;
  width: 185px;
  z-index: 9999;
}
#scroll_right .scroll_right_overflow {
  position: fixed;
  height: 100%;
  width: -185px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: auto;
}
#scroll_right .right_quick_btn ul li a {
  line-height: 40px;
  font-size: 14px;
  letter-spacing: -.5px;
  color: #000;
  position: relative;
  display: block;
  height: 100%;
}
#scroll_right .right_quick_btn {
  position: absolute;
  top: 45%;
  left: -37px;
}
#scroll_right .right_quick_btn ul li {
  width: 30px;
  height: 40px;
  text-align: center;
  background: #fff;
}
#scroll_right .right_quick_btn ul li a {
  line-height: 47px;
  font-size: 14px;
  letter-spacing: -4px;
  color: #000;
  position: relative;
  display: block;
  height: 100%;
  background-color: #fff;;
  width: 37px;
  border: 1px solid #ccc;
  border-right: 1px solid #fff !important;
}
#scroll_right .right_quick_btn ul li a i {
  line-height: 40px;
}
.right-float li img {
    width: 60%;
    margin-bottom: 4px;
}
.mobile-float-btn {
    display: none;
}

.r-f-p {
    padding: 16px 0;
}
.r-f-p p {
    text-align: center;
    font-size: 16px;
    color: #1e1e1f;
    font-weight: 600;
    line-height: 1.15;
}
.r-f-p p.tiny {
  color: #000;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
.r-f-s {

}

.r-f-s {
    padding: 16px 12px;
    border-bottom: 1px solid #ededed;
}

.r-f-s.primary {
    border-bottom: 1px solid #ededed;
}

.r-f-s p.x-small {
  color: rgb(121, 121, 121);
  font-size: 12px;
  font-weight: 400;
  margin: 4px 0;
  text-align: center;
}

.r-f-s p.small {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 4px 0;
    text-align: center;
}

.r-f-s p.medium {
    color: #000;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.r-f-p p.large {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 4px 0;
  text-align: center;
}
.r-f-a {
    padding: 12px 12px;
}

.r-f-a img {
    width: 60%;
}
.r-f-a p {
    margin: 0;
}
.r-f-a p.account-number {
    font-size: 14px;
}

.location, .customer {
    z-index: -1;
}

.iw_inner {
    padding: 12px;
    border: 1px solid #000;
    width: auto;
}

#map {
    overflow: hidden;
    height: 650px !important;
}

#map h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
}
#map p {
    line-height:1.6;
}
section.company,section.items {
    /* background: url('../img/c-bg-00.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}


.i-wrap-00 {
    position: relative;
    display: flex;
    padding: 64px 0 64px 0;
    color: #111; 
}

.i-wrap-01 {
    position: relative;
    display: flex;
    padding: 120px 0 64px 0;
    color: #111; 
}
.i-wrap-00 h2 {
    font-size: 48px;
    font-weight: 800;
}
.c-wrap-00 {
    position: relative;
    display: flex;
    margin-top: 0px;
    padding: 240px 0;
    color: #111;
    background: url('../img/company-img_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.c-00-left {
  background-attachment: fixed;
  background-position: center;
    width: 100%;
    float: left;
    padding: 0 32px 0 0;
}

.c-00-right {
  display: none;
    width: 50%;
    float: right;
    padding-left: 32px;
}
.c-00-right img {
    width: 100%;
}
.c-wrap-01 img {
    width: 100%;
    height: 300px;
    margin-bottom: 96px;
}
.c-wrap-04 {
  width: 100%;
  display: inline-block;
  padding: 90px 48px 90px 48px;
}

.c-wrap-02 {
    width: 100%;
    display: inline-block;
    background-color: #E53C49;
    padding: 160px 48px 160px 48px;
    transition: background-color 1s ease;
}
.c-wrap-02.g {
    background-color: #fff;
}
.c-wrap-02 h2, .c-wrap-04 h2 {
    font-size: 32px;
    margin-bottom: 16px;
}
.c-wrap-02 h3, .c-wrap-04 h3 {
  font-weight: 300;
  margin-bottom: 40px;
}
.c-wrap-03 {
    width: 100%;
    display: inline-block;
    background-color: #fcfafa;
    padding: 160px 48px 160px 48px;
}


.d-wrap-01 {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    padding: 160px 48px;
}
.c-wrap-03 h2 {
    font-size: 32px;
    margin-bottom: 16px;

}
.c-wrap-03 h3 {
  font-weight: 300;
  margin-bottom: 32px;
}
.c-white-box.first {
    float: left;
    background-color: #fff;
    padding: 28px;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 2px solid transparent;
    transition: all 0.2s;
}
.c-white-box {
    float: left;
    background-color: #fff;
    border-radius: 8px;
    padding: 28px;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 2px solid #F8F9FB;
    transition: all 0.2s;
}
.c-white-box.first {
    float: left;
    background-color: #fff;
    padding: 28px;
    border-radius: 6px;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    border: 2px solid transparent;
    transition: all 0.2s;
}

.c-white-box:nth-of-type(4) {
    margin-right: 0;
}
.c-white-box:nth-of-type(8) {
  margin-right: 0;
}
.c-white-box img {
    width: 100%;
    margin-top: 16px;
}
.c-white-box:hover {
    transition: all 0.2s;
    cursor: pointer;
    border: 2px solid #E53C49;
    -webkit-box-shadow: 0px 14px 18px -12px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 14px 18px -12px rgba(0,0,0,0.15);
    box-shadow: 0px 14px 18px -12px rgba(0,0,0,0.15);
}

.c-white-box h4 {
text-align: center;
}

.c-box-container {
    width: 100%;
    display: inline-block;
}

.c-l-container {
    width: 100%;
    position: relative;
}

.c-box-container.left {
    float: left;
    width: 50%;
    margin-top: 0;
}

.c-box-container.right {
    float: left;
    width: 50%;
    margin-top: 0;
}

.c-l-container.mt32 {
    margin-top: 32px;
}

.c-l-button {
    float: left;
    padding: 20px 28px;
    border: 1px solid #e2e2e2;
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    margin-right: 16px;
    transition: all 0.2s;
}
.c-l-button:hover {
    background-color: #E53C49;
    color: #fff;
    transition: all 0.2s;
    border: 1px solid transparent;
}
.c-l-button:last-child {
    margin-right: 0;
}

.mt48 {
    position: relative;
    display: inline-block;
}

.item-title {
    width: 100%;
    display: block;
}




.navigation {
    width: 100%;
    height: 70px;
    display: table;
    position: relative;
    font-family: inherit;
  }
  
  .navigation * {
    box-sizing: border-box;
    display: initial;
    -webkit-tap-highlight-color: transparent;
  }
  
  .navigation-portrait {
    height: 60px;
  }
  
  .navigation-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19998;
  }
  
  .navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .align-to-right {
    float: right;
  }
  
  .nav-header {
    float: left;
  }
  
  .navigation-hidden .nav-header {
    display: none;
  }
  
  .nav-brand {
    line-height: 71px;
    padding: 0;
    color: #343a40;
    font-size: 24px;
    text-decoration: none !important;
  }
  
  .nav-brand img {
      width: 180px;
      margin-bottom: 8px;
      margin-right: 16px;
  }

  .nav-brand:hover,
  .nav-brand:focus {
    color: #343a40;
  }
  
  .navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 60px;
  }
  
  .nav-logo > img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left;
  }
  
  .nav-logo:focus > img {
    outline: initial;
  }
  
  .navigation-portrait .nav-logo > img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0;
  }
  
  .nav-toggle {
    width: 41px;
    height: 34px;
    /* padding: 8px; */
    position: absolute;
    top: 22px;
    /* margin-top: -7px; */
    /* margin-left: -25px; */
    right: 0;
    display: none;
    cursor: pointer;
  }
  
  .nav-toggle:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #343a40, 0 1em 0 0 #343a40;
  }
  
  .navigation-portrait .nav-toggle {
    display: block;
  }
  
  .navigation-portrait .nav-menus-wrapper {
    width: 80%;
    height: 100%;
    top: 0;
    right:-100%;
    position: fixed;
    background-color: #fff;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  
  .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px;
  }
  
  .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    right: 0;
  }
  
  .navigation-portrait
    .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0;
  }
  .m-nav-logo {
    display: none;
  }
  .nav-menus-wrapper-close-button {
    width: 30px;
    height: 45px;
    margin: 8px 13px;
    line-height: 2;
    display: none;
    text-align: center;
    float: right;
    color: #343a40;
    font-size: 24px;
    cursor: pointer;
  }
  
  .navigation-portrait .nav-menus-wrapper-close-button {
    display: block;
  }
  
  .nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0;
    text-align: center;
  }
  
  .navigation-portrait .nav-menu {
    width: 100%;
  }
  
  .navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center;
  }
  
  .navigation-landscape .nav-menu.nav-menu-centered > li {
    float: none;
  }
  
  .nav-menu > li {
    display: inline-block;
    float: left;
    text-align: left;
  }
  .nav-menu > li:nth-child(4) > a {
    padding: 10px 0 6px 16px;
  }
  .nav-menu > li:nth-child(4) button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-family: gilroy, sans-serif;
    font-size: 19px;
    border-radius: 42px;
    background-color: #202020;
    padding: 14px 32px 16px 32px;
    margin: 0 auto;
    z-index: 1;
}
.nav-menu > li:nth-child(4) button span {
  position: relative; 
  z-index: 1;
}
.nav-menu > li:nth-child(4) button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 200%;
  background: #E53C49;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.nav-menu > li:nth-child(4) button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

  .nav-meniu > li > i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .nav-menu > li:nth-child(4) span:hover {
    transition: all 0.4s;
  }
  .kcc-logo {
    width: 32px;
    margin-bottom: 12px;
    margin-right: 8px;
  }
  .bs-logo {
    width: 52px;
    margin-bottom: 10px;
  }
  .navigation-portrait .nav-menu > li {
    width: 100%;
    position: relative;
    border-top: solid 1px #f0f0f0;
  }
  
  .navigation-portrait .nav-menu > li:last-child {
    border-bottom: none;
  }
  
  .nav-menu + .nav-menu > li:first-child {
    border-top: none;
  }
  
  .nav-menu > li > a {
    height: 70px;
    padding: 20px 24px 20px 24px;
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: #111;
    transition: color 0.3s, background 0.3s;
  }

  .nav-menu > li > a:focus {
    outline: none;
  }
  .navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px;
  }
  
  .nav-menu > li:hover > a,
  .nav-menu > li.focus > a {
    color: #111;
    border-bottom: 2px solid #111;
  }
  .nav-menu > li.active > a {
    color: #E53C49;
    border-bottom: 2px solid #E53C49;
  }
  .nav-menu > li:nth-child(4):hover > a,
  .nav-menu > li:nth-child(4).active > a,
  .nav-menu > li:nth-child(4).focus > a {
    color: #111;
    border-bottom: 0;
  }

  .nav-menu > li > a.active {
    color: #111;
    border-bottom: 2px solid #111;
  }
  .nav-menu > li:nth-of-type(5) > a {
    padding: 24px 0 20px 20px;
    cursor: initial;
  }
  .nav-menu > li:nth-of-type(5):hover > a  {
    border: 0;
  }
  .nav-menu > li:nth-of-type(6):hover > a  {
    border: 0;
  }

  .nav-menu > li:nth-of-type(6) > a {
    padding: 24px 0 20px 20px;
    cursor: initial;
  }

  .nav-menu > li:nth-of-type(5):hover > a {
    background: none;
  }

  .nav-menu > li:nth-of-type(6):hover > a {
    background: none;
  }
  
  .nav-menu > li > a > i,
  .nav-menu > li > a > [class*="ion-"] {
    width: 18px;
    height: 16px;
    line-height: 16px;
    transform: scale(1.4);
  }
  
  .nav-menu > li > a > [class*="ion-"] {
    width: 16px;
    display: inline-block;
    transform: scale(1.8);
  }
  
  .navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center;
  }
  
  .nav-menu.nav-menu-social > li {
    text-align: center;
    float: none;
    border: none !important;
  }
  
  .navigation-portrait .nav-menu.nav-menu-social > li {
    width: auto;
  }
  
  .nav-menu.nav-menu-social > li > a > [class*="ion-"] {
    font-size: 12px;
  }
  
  .nav-menu.nav-menu-social > li > a > .fa {
    font-size: 14px;
  }
  
  .navigation-portrait .nav-menu.nav-menu-social > li > a {
    padding: 15px;
  }
  
  .submenu-indicator {
    display: none;
      margin-left: 16px;
      margin-top: 2px;
      float: right;
      transition: all 0.2s;
  }
  
  .navigation-portrait .submenu-indicator {
    width: 54px;
    height: 44px;
    margin-top: 0;
    position: absolute;
    top: 14px;
    right: 0;
    text-align: center;
    z-index: 20000;
}

  
  .submenu-indicator-chevron {
    height: 8px;
    width: 8px;
    display: block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent #111 #111 transparent;
    transform: rotate(45deg);
    transition: border 0.2s;
  }
  
  .navigation-portrait .submenu-indicator-chevron {
    position: absolute;
    top: 13px;
    left: 24px;
  }
  
  .nav-menu > li:hover > a .submenu-indicator-chevron,
  .nav-menu > .active > a .submenu-indicator-chevron,
  .nav-menu > .focus > a .submenu-indicator-chevron {
    border-color: transparent #111 #111 transparent;
  }
  
  .navigation-portrait .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg);
    top: 8px;
  }
  
  .nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999;
  }
  
  .no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .nav-search {
    height: 70px;
    float: right;
    z-index: 19998;
  }
  
  .navigation-portrait .nav-search {
    height: 48px;
    padding: 0 10px;
    margin-right: 52px;
  }
  
  .navigation-hidden .nav-search {
    display: none;
  }
  
  .nav-search-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #fbfcfd;
  }
  
  .navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px;
  }
  
  .nav-search-icon {
    width: 14px;
    height: 14px;
    margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #343a40;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    transform: rotate(-45deg);
  }
  
  .nav-search-icon:after,
  .nav-search-icon:before {
    content: "";
    pointer-events: none;
  }
  
  .nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    transform: translateX(-50%);
  }
  
  .nav-search > form {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 99;
  }
  
  .nav-search-inner {
    width: 70%;
    height: 70px;
    margin: auto;
    display: table;
  }
  
  .navigation-portrait .nav-search-inner {
    height: 48px;
  }
  
  .nav-search-inner input[type="text"],
  .nav-search-inner input[type="search"] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 26px;
    text-align: center;
    color: #343a40;
    outline: none;
    line-height: 70px;
    border: none;
    background-color: transparent;
    transition: all 0.3s;
  }
  
  .navigation-portrait .nav-search-inner input[type="text"],
  .navigation-portrait .nav-search-inner input[type="search"] {
    height: 48px;
    font-size: 18px;
    line-height: 48px;
  }
  
  .nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: normal;
    color: #343a40;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .navigation-portrait .nav-search-close-button {
    top: 10px;
    right: 14px;
  }
  
  .nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px;
  }
  
  .nav-text {
    margin: 25px 15px;
    display: inline-block;
    color: #343a40;
    font-size: 14px;
  }
  
  .navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0;
  }
  
  .navigation-portrait .nav-text + ul {
    margin-top: 15px;
  }
  
  .nav-dropdown {
    min-width: 180px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap;
  }
  
  .navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0;
  }
  
  .nav-dropdown .nav-dropdown {
    left: 100%;
  }
  
  .nav-menu > li > .nav-dropdown {
    border-top: solid 1px #f0f0f0;
  }
  
  .nav-dropdown > li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    text-align: left;
  }
  
  .nav-dropdown > li > a {
    width: 100%;
    padding: 16px 20px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 13px;
    color: #343a40;
    background-color: #fdfdfd;
  }
  
  .nav-dropdown > li:hover > a,
  .nav-dropdown > li.focus > a {
    color: #ff6b00;
  }
  
  .nav-dropdown.nav-dropdown-left {
    right: 0;
  }
  
  .nav-dropdown > li > .nav-dropdown-left {
    left: auto;
    right: 100%;
  }
  
  .navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
    text-align: right;
  }
  
  .navigation-portrait .nav-dropdown > li > a {
    padding: 12px 20px 12px 30px;
  }
  
  .navigation-portrait .nav-dropdown > li > ul > li > a {
    padding-left: 50px;
  }
  
  .navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {
    padding-left: 70px;
  }
  
  .navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {
    padding-left: 90px;
  }
  
  .navigation-portrait
    .nav-dropdown
    > li
    > ul
    > li
    > ul
    > li
    > ul
    > li
    > ul
    > li
    > a {
    padding-left: 110px;
  }
  
  .nav-dropdown .submenu-indicator {
    right: 15px;
    top: 10px;
    position: absolute;
  }
  
  .navigation-portrait .nav-dropdown .submenu-indicator {
    right: 0;
    top: 0;
  }
  
  .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(-45deg);
  }
  
  .navigation-portrait
    .nav-dropdown
    .submenu-indicator
    .submenu-indicator-chevron {
    transform: rotate(45deg);
  }
  
  .nav-dropdown > li:hover > a .submenu-indicator-chevron,
  .nav-dropdown > .focus > a .submenu-indicator-chevron {
    border-color: transparent #0d54ee #0d54ee transparent;
  }
  
  .navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
    left: 10px;
  }
  
  .navigation-landscape
    .nav-dropdown.nav-dropdown-left
    .submenu-indicator
    .submenu-indicator-chevron {
    transform: rotate(135deg);
  }
  .nav-dropdown-horizontal {
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0;
  }
  
  .nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    left: 0;
  }
  
  .navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none;
  }
  
  .nav-dropdown-horizontal > li {
    width: auto;
    clear: none;
    position: static;
  }
  
  .navigation-portrait .nav-dropdown-horizontal > li {
    width: 100%;
  }
  
  .nav-dropdown-horizontal > li > a {
    position: relative;
  }
  
  .nav-dropdown-horizontal .submenu-indicator {
    height: 18px;
    top: 11px;
    transform: rotate(90deg);
  }
  
  .navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    height: 42px;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .navigation-portrait
    .nav-dropdown-horizontal
    .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg);
  }
  
  .megamenu-panel {
    width: 100%;
    padding: 16px 12%;
    display: none;
    position: absolute;
    font-size: 14px;
    z-index: 98;
    text-align: center;
    color: inherit;
    border-radius: 0px;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
  }
  
  .navigation-portrait .megamenu-panel {
    padding: 16px;
    position: static;
    display: block;

  }
  
  .megamenu-panel [class*="container"] {
    width: 100%;
  }
  
  .megamenu-panel [class*="container"] [class*="col-"] {
    padding: 0;
  }
  
  .megamenu-panel-half {
    width: 50%;
  }
  
  .megamenu-panel-quarter {
    width: 25%;
  }
  
  .navigation-portrait .megamenu-panel-half,
  .navigation-portrait .megamenu-panel-quarter {
    width: 100%;
  }
  
  .megamenu-panel-row {
    width: 100%;
  }
  
  .megamenu-panel-row:before,
  .megamenu-panel-row:after {
    content: "";
    display: table;
    line-height: 0;
  }
  
  .megamenu-panel-row:after {
    clear: both;
  }
  
  .megamenu-panel-row [class*="col-"] {
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 3%;
  }
  
  .megamenu-panel-row [class*="col-"]:first-child {
    margin-left: 0;
  }
  
  .navigation-portrait .megamenu-panel-row [class*="col-"] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
  }
  
  .navigation-portrait
    .megamenu-panel-row:first-child
    [class*="col-"]:first-child {
    margin-top: 0;
  }
  
  .megamenu-panel-row .col-1 {
    width: 5.583333333333%;
  }
  
  .megamenu-panel-row .col-2 {
    width: 14.166666666666%;
  }
  
  .megamenu-panel-row .col-3 {
    width: 22.75%;
  }
  
  .megamenu-panel-row .col-4 {
    width: 31.333333333333%;
  }
  
  .megamenu-panel-row .col-5 {
    width: 39.916666666667%;
  }
  
  .megamenu-panel-row .col-6 {
    width: 48.5%;
  }
  
  .megamenu-panel-row .col-7 {
    width: 57.083333333333%;
  }
  
  .megamenu-panel-row .col-8 {
    width: 65.666666666667%;
  }
  
  .megamenu-panel-row .col-9 {
    width: 74.25%;
  }
  
  .megamenu-panel-row .col-10 {
    width: 82.833333333334%;
  }
  
  .megamenu-panel-row .col-11 {
    width: 91.416666666667%;
  }
  
  .megamenu-panel-row .col-12 {
    width: 100%;
  }
  
  .megamenu-tabs {
    width: 100%;
    float: left;
    display: block;
  }
  
  .megamenu-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
  }
  
  .navigation-portrait .megamenu-tabs-nav {
    width: 100%;
  }
  
  .megamenu-tabs-nav > li > a {
    width: 100%;
    padding: 10px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #343a40;
    border: solid 1px #eff0f2;
    outline: 0;
    background-color: #fff;
  }
  
  .megamenu-tabs-nav > li.active a,
  .megamenu-tabs-nav > li:hover a {
    background-color: #f5f5f5;
  }
  
  .megamenu-tabs-pane {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: right;
    display: none;
    font-size: 13px;
    color: #343a40;
    border: solid 1px #eff0f2;
    background-color: #fff;
  }
  
  .megamenu-tabs-pane.active {
    display: block;
  }
  
  .navigation-portrait .megamenu-tabs-pane {
    width: 100%;
  }
  
  .megamenu-lists {
    width: 1179px;
    display: table;
    margin: 0 auto;
  }
  
  .megamenu-list {
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
    display: inline-block;
    float: left;
    list-style: none;
  }
  
  .megamenu-list:last-child {
    margin: 0;
    border: none;
  }
  
  .navigation-landscape .megamenu-list {
    margin: -15px 0;
    padding: 20px 0;
    /* border-right: solid 1px #f0f0f0; */
  }
  
  .navigation-landscape .megamenu-list:last-child {
    border: none;
  }
  
  .megamenu-list > li > a {
    width: 100%;
    padding: 16px 24px;
    display: inline-block;
    color: #343a40;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s;
  }

  .megamenu-list > li > a > img {
    width: 100%;
    padding: 0px 16px;
  }
  .megamenu-list > li > a:hover {
    color: #E53C49;
    transition: all 0.5s;
  }
  
  .megamenu-list > li > a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 8px;
    height: 2px;
    background: transparent;
    transition: width .3s;
    transition: all 0.5s;
  }

  .megamenu-list > li > a:hover::after {
    width: 100%;
    transition: all 0.3s;

  }
  .megamenu-list > li.megamenu-list-title > a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #343a40;
  }
  
  .megamenu-list > li.megamenu-list-title > a:hover {
    background-color: transparent;
  }
  
  .navigation-landscape .list-col-2 {
    width: 50%;
  }
  
  .navigation-landscape .list-col-3 {
    width: 33%;
  }
  
  .navigation-landscape .list-col-4 {
    width: 25%;
  }
  
  .navigation-landscape .list-col-5 {
    width: 20%;
  }
  
  .nav-menu > li > a {
    color: #343a40;
    text-transform: uppercase;
  }
  


  .nav-dropdown > li > a {
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
  }
  
  .nav-dropdown > li > a:hover,
  .nav-dropdown > li > a:focus {
    color: #ff6b00;
  }
  
  .main_header_area {
    height: 70px;
    margin: 0 auto;
    display: block;
  
  }

  .main_header_area.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .transparent-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
  }
  
  .navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
    padding: 16px 16px 16px 24px;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 991px) {
    .nav-dropdown > li > a,
    .megamenu-list > li > a {
      width: 100%;
    }

    .megamenu-list > li > a > img {
      display: none;
    }

    .nav-menu > li:nth-of-type(5) > a {
      display: none;
    }
  
    .nav-menu > li:nth-of-type(6) > a {
      display: none;
    }
    .megamenu-panel {
      border: 0;
    }
    .center {
      text-align: left;
    }
  }






  .vertical_tab_nav {
    float: left;
    width: 272px;
  }

  .vertical_tab_content {
    width: calc(100% - 272px);
    padding-left: 64px;
  }
  .vertical_tab_content h1 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    color: #E53C49;
    margin-bottom: 12px;
    margin-left: 2px;

  }
  .vertical_tab_content h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #111;
  }
.sidebar-toggle {
  margin-left: -300px;
}
.sidebar {
  width: 272px;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.051s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  -ms-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul {
  margin: -2px 0 0;
  padding: 8px 28px 16px 28px;
  border: 1px solid #dddddd;
  border-radius: 0px;
}
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  border: 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  display: block;
  list-style-type: none;
  margin: 12px 0;
  /* border-bottom: 1px solid #111; */
}
.sidebar #leftside-navigation ul li ul li.active {
  background-color: #E53C49; 
  -webkit-box-shadow: 0px 20px 36px -13px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 20px 36px -13px rgba(0,0,0,0.4);
  box-shadow: 0px 20px 36px -13px rgba(0,0,0,0.4);
}


.sidebar #leftside-navigation ul li ul li.active a{
  color: #fff;
  font-weight: 500;
  
}
.sidebar #leftside-navigation ul li.active > a {
  border: 0;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}

.sidebar #leftside-navigation ul li a {
  color: #111;
  text-decoration: none;
  display: block;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  -o-transition: all 50ms ease-in;
  -ms-transition: all 50ms ease-in;
  transition: all 0.3s ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #E53C49;
  transition: all 0.3s;
}
.sidebar #leftside-navigation ul li a:hover i {
  color: #E53C49;
}

.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 10px;
  float: right;
  color: #ddd;
  margin-right: 0;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
  border-radius: 6px;

}
.sidebar #leftside-navigation ul ul li a:hover {
  color: #3a3a3a;
  transition: all 0.3s;
  font-weight: 500;
}

.sidebar #leftside-navigation ul ul li:last-of-type {

}
.sidebar #leftside-navigation ul ul li a:first-of-type {

}
.sidebar #leftside-navigation ul ul li a:first-of-type {

}

.sidebar #leftside-navigation ul ul li:hover {
  color: #3b5cf9;
  transition: all 0.1s;

}
.sidebar #leftside-navigation ul ul li a {
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  color: #999FAE;
  font-weight: 500;
}

.sub-menu.active i {
  color: #E53C49 !important;
}

.v-t-content img{
  width: 100%;
  margin-top: 32px;
}

.c-00-left h1 {
  font-weight: 700;
  color: #fff;
  font-size: 64px;
  line-height: 1.3;
}

.c-00-left h2 {
  margin-top: 64px;
  font-weight: 400;
  color: #dfdfdf;
  font-size: 18px;
  line-height: 1.8;
}

.ui.selection.dropdown {
  display: none;
}


.panel {
  /* min height incase content is higher than window height */
  padding: 160px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-white {
  background-color: #E53C49;
}
.color-violet {
  background-color: #4332CF;
}
.color-blue {
  background-color: #e7e7e7;
}
.color-green {
  background-color: #fff;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}




.work {
  position: relative;
  padding: 246px 0 80px;
  background: #1B1B87;
}

.work__circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.work__circles:before, .work__circles:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.work__circles:before {
  width: 1024px;
  height: 1024px;
  right: calc(50% - 860px);
}

.work__circles:after {
  width: 1670px;
  height: 1670px;
  right: calc(50% - 1186px);
}

.work__wrap {
  position: relative;
  z-index: 3;
  max-width: 570px;
  color: #fff;
}

.work__title {
  margin-bottom: 48px;
}

.work__text {
  max-width: 470px;
  margin-bottom: 202px;
}

.work .scroll {
  color: #fff;
}

.work__figures {
  position: absolute;
  top: 3px;
  right: calc(50% - 717px);
  z-index: 2;
  width: 1290px;
  font-size: 0;
}

.work__figure {
  width: 100%;
  pointer-events: none;
}

.work__figure:first-child {
  position: relative;
  top: -70px;
}

.work__figure:nth-child(2) {
  top: 15.8%;
  left: -10%;
  z-index: 2;
  width: 90%;
}

.work__figure:nth-child(3) {
  top: 28.8%;
  left: 39%;
  z-index: 2;
  width: 72%;
}

.work__figure:nth-child(4) {
  top: 25%;
  left: 13.4%;
  z-index: 2;
  width: 75%;
}

.work__figure:nth-child(5) {
  top: 9.7%;
  left: -3%;
  z-index: 3;
  width: 93%;
}

.work__figure:nth-child(6) {
  top: 7.5%;
  left: 37%;
  z-index: 3;
  width: 67%;
}

.work__figure:nth-child(7) {
  top: 38%;
  left: 31.3%;
  z-index: 4;
  width: 66%;
}

.work__figure:not(:first-child) {
  position: absolute;
}

.work__pic {
  width: 100%;
}

.work__preview {
  position: absolute;
  top: 67px;
  left: calc(50% - 634px);
  width: 193px;
  font-size: 0;
}